

<div class="settings-wrapper">
  <h1>Настройки</h1>

  <div class="field-list">
    <mat-form-field>
      <mat-select placeholder="Выберите язык для изучения" [(value)]="settings.trainingLang">
        <mat-option *ngFor="let lang of langList" [value]="lang.code">
          {{lang.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Кол-во повторений для запоминания" [(value)]="settings.maxTrainingProgress">
        <mat-option *ngFor="let item of repeatCases" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input-full-width">
        <input matInput [(ngModel)]="settings.trainingTime"
               name="add-field"
               placeholder="Время тренировки слова. сек">
    </mat-form-field>
  </div>

  <div class="action-footer">
    <button mat-flat-button color="primary" (click)="save()">Сохранить</button>
  </div>

</div>
