.settings-wrapper {
  width: 50%;
  margin: 50px auto auto;

  h1 {
    margin-bottom: 20px;
  }

  .field-list {
    display: flex;
    flex-direction: column;

    > * {
      width: 100%;
    }
  }

  .action-footer {
    display: flex;
    justify-content: flex-end;
  }

}
